.pnf-circle{
    width: 200px;
    height: 200px;
    margin-top: 200px;
    border-radius: 100%;
    border: solid 10px #607D8B;
}

.pnf-sing-top{
    height: 100px;
    width: 20px;
    margin-top: 20px;
    background:#607D8B;
    border-radius: 7px;
    position: relative;
    left: 80px;
}

.pnf-sing-bottom{
    height: 22px;
    width: 22px;
    margin-top: 10px;
    border-radius: 100%;
    background:#607D8B;
    position: relative;
    left: 79px;
}

.pnf-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#607D8B;

}